extends layout 

block content 
    h1 #{alcohol.name}
    hr
    p #[strong Description:] #{alcohol.description}
    p #[strong Category: ] 
        a(href=alcohol.category.url) #{alcohol.category.name}
    if alcohol.provenance   
        p #[strong Provenance: ] #{alcohol.provenance}
    hr
    h4 All bottles 
    hr
    dl  
        each instance in alcohol_instances  
            dd Bottle #
                a(href=instance.url)  #{instance._id}
            dd Location: #{instance.location.name}
        
        else 
            p Alcohol has no instances

    hr
    p   
        a(href=alcohol.url+'delete') Delete alcohol 
    p   
        a(href=alcohol.url+'update') Update alcohol