extends layout 

block content 
    h3 Bottle ID# #{alcoholinst._id}
    hr
    h5 #[em Info:]
    p #[strong Alcohol: ]
        a(href=alcoholinst.alcohol.url) #{alcoholinst.alcohol.name} (#{alcoholinst.alcohol.category.name})
    p #[strong Location: ]
        a(href=alcoholinst.location.url) #{alcoholinst.location.name}
    if alcoholinst.price   
        p #[strong Price: ] #{alcoholinst.price}
    if alcoholinst.date_opened  
        p #[strong Date opened:] #{alcoholinst.date_opened}
    if alcoholinst.fluid_volumne   
        p #[strong Fluid volume: ] #{alcoholinst.fluid_volume}


    hr
    p   
        a(href=alcoholinst.url+'/delete') Delete bottle
    p   
        a(href=alcoholinst.url+'/update') Update bottle