extends layout 

block content 
    h1= title 
    ul 
        each bottle in alcohol_list 
            li 
                
                p #{bottle.alcohol.name }  (#{bottle.alcohol.category.name})
                a(href=bottle.url) ID# #{bottle._id}
                p
        
        else 
            p I regret to inform you that, at present, this is a dry list. 
            p That is to say, there is no alcohol here, my friend.
            p Please amend that by visiting the create new alcohol instance link.
            p #[em "Without beer things do not seem to go as well" - Brother Hyacinth Epp, Capuchin Monastery Kansas, 1902]