extends layout 

block content 
    h1 #{alcohol.name}
    hr
    h5 #[em Info:]
    p #[strong Description:] #{alcohol.description}
    p #[strong Category: ] 
        a(href=alcohol.category.url) #{alcohol.category.name}
    if alcohol.provenance   
        p #[strong Provenance: ] #{alcohol.provenance}
    hr
    h4 All bottles 
    hr
    ul  
        each instance in alcohol_instances  
            li Bottle ID:
                a(href=instance.url)  #{instance._id}
        
        else 
            p You have no bottles of this alcohol

    hr
    p   
        a(href=alcohol.url+'/delete') Delete alcohol 
    p   
        a(href=alcohol.url+'/update') Update alcohol