extends layout 

block content 
    h1 #{category.name}
    hr
    if category.description
        p #[strong Description:] #{alcohol.description}
        hr
    h4 All #{category.name}s
    hr
    ul  
        each alcohol in category_alcohols  
            li Alcohol:
                a(href=alcohol.url)  #{alcohol.name} 
        
        else 
            p There are no alcohols in this category! Perhaps you should add some.
            p #[em "Without beer things do not seem to go as well" - Brother Hyacinth Epp, Capuchin Monastery Kansas, 1902]

    hr
    p   
        a(href=category.url+'/delete') Delete category
    p   
        a(href=category.url+'/update') Update category