extends layout

block content
  h1= title
  p Welcome to #[em BarKeep], a basic inventory management tool for home bartenders.

  p Your bar has the following inventory counts:

  ul
    li #[strong Alcohols:] !{alcohol_count}
    li #[strong Bottles:] !{alcohol_instance_count}
    li #[strong Categories:] !{category_count}
    li #[strong Locations:] !{location_count}

